# === Java 클래스 파일 ===
*.class

# === 빌드 결과물 (Maven) ===
target/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# === Eclipse / STS 관련 ===
.project
.classpath
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/
.metadata/

# === 로그 파일 ===
*.log

# === OS 관련 ===
.DS_Store
Thumbs.db

# static 폴더 전체 무시
# HotSource/src/main/webapp/static/
HotSource/src/main/webapp/static/header,banner
HotSource/src/main/webapp/static/mypagelist
HotSource/src/main/webapp/static/originalcopytheme
HotSource/src/main/webapp/static/product

# 이클립스/STS 서버 설정 무시
Servers/

# === 임시 파일 ===
*.tmp
*.bak
*.swp
*~
*.orig

# === 환경 변수 설정 파일 ===
.env
.env.*
