<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AssetKeywordMapping">
	
	<sql id="columns">
		asset_keyword_mapping_id, asset_id, keyword_id
	</sql>
	
	<resultMap			type="AssetKeywordMapping"					id="joinMap">
		<id 					column="asset_keyword_mapping_id"		property="asset_keyword_mapping_id"/>
		<association	column="asset_id"		property="asset"			javaType="Asset"		select="Asset.select"/>
		<association	column="keyword_id"		property="keyword"			javaType="Keyword"		select="Keyword.select"/>
	</resultMap>
	
	<select id="selectByAssetId" resultMap="joinMap" parameterType="long">
		SELECT <include refid="columns"/> FROM asset_keyword_mapping WHERE asset_id=#{asset_id}
	</select>
	
	<insert id="insert" parameterType="AssetKeywordMapping">
		INSERT INTO
		asset_keyword_mapping (asset_id, keyword_id)
		VALUES (#{asset.asset_id}, #{keyword.keyword_id})
	</insert>
</mapper>