<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="hotsource.domain.Asset" 		 alias="Asset" />
		<typeAlias type="hotsource.domain.AssetFile" 	 alias="AssetFile" />
		<typeAlias type="hotsource.domain.AssetImg" 	 alias="AssetImg" />
		<typeAlias type="hotsource.domain.AssetList" 	 alias="AssetList" />
		<typeAlias type="hotsource.domain.AssetListItem" alias="AssetListItem" />
		<typeAlias type="hotsource.domain.AssetView" 	 alias="AssetView" />
		<typeAlias type="hotsource.domain.Notice" 		 alias="Notice" />
		<typeAlias type="hotsource.domain.NoticeComment" alias="NoticeComment" />
		<typeAlias type="hotsource.domain.NoticeLike" 	 alias="NoticeLike" />
		<typeAlias type="hotsource.domain.Role" 		 alias="Role" />
		<typeAlias type="hotsource.domain.Seller" 		 alias="Seller" />
		<typeAlias type="hotsource.domain.SnsProvider" 	 alias="SnsProvider" />
		<typeAlias type="hotsource.domain.SubCategory" 	 alias="SubCategory" />
		<typeAlias type="hotsource.domain.TopCategory" 	 alias="TopCategory" />
		<typeAlias type="hotsource.domain.User" 		 alias="User" />
		<typeAlias type="hotsource.domain.Ordered" alias="Ordered" />
		<typeAlias type="hotsource.domain.OrderedAsset" alias="OrderedAsset" />
		<typeAlias type="hotsource.domain.Review" alias="Review" />

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source"
					value="java:comp/env/jndi/mysql" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="hotsource/mybatis/AssetFileMapper.xml" />
		<mapper resource="hotsource/mybatis/AssetImgMapper.xml" />
		<mapper resource="hotsource/mybatis/AssetListItemMapper.xml" />
		<mapper resource="hotsource/mybatis/AssetListMapper.xml" />
		<mapper resource="hotsource/mybatis/AssetMapper.xml" />
		<mapper resource="hotsource/mybatis/AssetViewMapper.xml" />
		<mapper resource="hotsource/mybatis/NoticeCommentMapper.xml" />
		<mapper resource="hotsource/mybatis/NoticeLikeMapper.xml" />
		<mapper resource="hotsource/mybatis/NoticeMapper.xml" />
		<mapper resource="hotsource/mybatis/RoleMapper.xml" />
		<mapper resource="hotsource/mybatis/SellerMapper.xml" />
		<mapper resource="hotsource/mybatis/SnsProviderMapper.xml" />
		<mapper resource="hotsource/mybatis/SubCategoryMapper.xml" />
		<mapper resource="hotsource/mybatis/TopCategoryMapper.xml" />
		<mapper resource="hotsource/mybatis/UserMapper.xml" />
		<mapper resource="hotsource/mybatis/AssetMapper.xml" />
		<mapper resource="hotsource/mybatis/SellerMapper.xml" />
		<mapper resource="hotsource/mybatis/OrderedMapper.xml" />
		<mapper resource="hotsource/mybatis/ReviewMapper.xml" />
	</mappers>
</configuration>