<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeLike">
	<sql id="columns">
		<!-- notice_like_id , is_like , notice_id, user_id -->
		notice_like_id, is_like, notice_id, user_id
	</sql>

	<!-- 방법 2) resultMap 사용하기 -->
	<resultMap id="joinMap" type="NoticeLike">
	    <id property="notice_like_id" column="notice_like_id"/>
	    <result property="is_like" column="is_like"/>
	    
	    <association property="user" javaType="User" column="user_id" select="User.select"/>
	    
	    <association property="notice" javaType="Notice">
	        <id property="notice_id" column="notice_id"/>
	        <result property="title" column="title"/>
	    </association>
	</resultMap>
	
	<select id="select" parameterType="long" resultMap="joinMap">
		
		<!-- 방법 2) resultMap 사용하기 -->
		select <include refid="columns"/> from notice_like where notice_like_id=#{notice_like_id}
	</select>

	<select id="selectAll" resultMap="joinMap">
		select <include refid="columns"/> from notice_like
	</select>
	
	<select id="selectByNoticeId" resultMap="joinMap" parameterType="long">
		SELECT <include refid="columns"/> FROM notice_like WHERE notice_id=#{notice_id}
	</select>
	
	<select id="selectByUserAndNotice" resultType="NoticeLike">
	    SELECT * FROM notice_like
	    WHERE user_id = #{user_id} AND notice_id = #{notice_id}
	</select>
	
	<select id="isLiked" resultType="boolean" parameterType="map">
	    SELECT COUNT(*) > 0
	    FROM Notice_like
	    WHERE user_id = #{user_id} AND notice_id = #{notice_id}
	</select>
	
	<insert id="insert" parameterType="NoticeLike" useGeneratedKeys="true" keyProperty="notice_like_id">
		INSERT INTO notice_like (is_like, notice_id, user_id)
		VALUES (#{is_like}, #{notice.notice_id}, #{user.user_id})
	</insert>

	<update id="update" parameterType="NoticeLike">
		UPDATE notice_like
		SET is_like = #{is_like},
		    notice_id = #{notice.notice_id},
		    user_id = #{user.user_id}
		WHERE notice_like_id = #{notice_like_id}
	</update>

	<delete id="delete" parameterType="long">
		DELETE FROM notice_like WHERE notice_id = #{notice_id} and user_id = #{user_id} 
	</delete>
	
	<!-- exists -->
	<select id="exists" resultType="boolean">
	    SELECT COUNT(*) > 0
	    FROM notice_like
	    WHERE user_id = #{user_id} AND notice_id = #{notice_id}
	</select>
	
</mapper>