<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeComment">
	
	<sql id="columns">
		notice_comment_id, notice_id, user_id, content, create_date
	</sql>
	
	<resultMap id="joinMap" type="NoticeComment">
	    <id property="notice_comment_id" 	column="notice_comment_id"/>
	    <result property="content" 			column="content"/>
	    <result property="create_date" 		column="create_date"/>
	    
	    <association	column="notice_id"	property="notice"	javaType="Notice"	select="Notice.select"/>
	    <association	column="user_id"	property="user"		javaType="User"		select="User.select"/>
	</resultMap>
	
	<select id="selectAll" resultType="NoticeComment">
		select <include refid="columns"/> from notice_comment
	</select>
	
	<select id="select" parameterType="long" resultType="NoticeComment">
		select <include refid="columns"/> from notice_comment
		where	notice_comment_id = #{notice_comment_id}
	</select>
	
	<select id="selectByNoticeId" resultMap="joinMap" parameterType="long">
		SELECT <include refid="columns"/> FROM notice_comment WHERE notice_id=#{notice_id}
	</select>
	
	<insert id="insert" parameterType="NoticeComment">
		insert into notice_comment values(#{notice_id}, #{user_id}, #{content})
	</insert>
	
	<update id="update" parameterType="NoticeComment">
		update notice_comment set  user_id=#{user.user_id}, content=#{content}
		where notice_comment_id=#{notice_comment_id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete from notice_comment where notice_comment_id=#{notice_comment_id}
	</delete>
</mapper>