<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sale">
	
	<sql id="columns">
		sale_id, sale_type, sale_value, start_date, end_date, create_date, asset_id
	</sql>
	
	<resultMap 			type="Sale" 					id="joinMap">
		<id 					column="sale_id" 			property="sale_id"/>
		<result 			column="sale_type" 		property="sale_type"/>
		<result 			column="sale_value" 		property="sale_value"/>
		<result 			column="start_date" 		property="start_date"/>
		<result 			column="end_date" 		property="end_date"/>
		<result 			column="create_date" 	property="create_date"/>
		<association 	column="asset_id" 		property="asset" 			javaType="Asset" 		select="Asset.select"/>
	</resultMap>
	
	<select id="selectAll" resultMap="joinMap">
		SELECT <include refid="columns"/> FROM sale
	</select>
	
	<select id="select" resultMap="joinMap" parameterType="int">
		SELECT <include refid="columns"/> FROM sale WHERE sale_id=#{sale_id}
	</select>
	
	<select id="selectByAssetId" resultMap="joinMap" parameterType="int">
		SELECT <include refid="columns"/> FROM sale WHERE asset_id=#{asset_id}
	</select>
	
</mapper>