<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Seller">
	<sql id="columns">
		seller_id
		,user_id
		,seller_name
		,seller_nickname
		,seller_bio
		,profile_img_url
		,seller_insta_url
		,seller_email
		,bank_name
		,account_number
		,create_date
		,is_active
	</sql>
	
	<resultMap type="Seller" id="joinMap">
		<id 		column="seller_id" 	property="seller_id"/>
		<result 	column="seller_name" 			property="seller_name"/>
		
		<!-- 1:1 관계인 부모를 연계한다 -->
		<association column="user_id" 	property="user" javaType="User" select="User.select"/>
		<!-- 1:N 관계 -->
		<collection property="assetList" column="seller_id" javaType="java.util.List" ofType="Asset" select="Asset.selectBySellerId"/>
	</resultMap>
	
	<select id="selectAll" resultMap="joinMap">
		select <include refid="columns"/> from seller
	</select>
	
	
	
	
	<select id="select" resultType="Seller" parameterType="long">
		SELECT <include refid="columns"/>
		FROM seller
		WHERE seller_id = #{seller_id}
	</select>
	
</mapper>