<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SnsProvider">
	
	<select id="selectByName" parameterType="String" resultType="SnsProvider">
		select * from sns_provider where provider_name = #{provider_name}
	</select>
	
	<select id="selectById" parameterType="int" resultType="SnsProvider">
		select * from sns_provider where sns_provider_id = #{sns_provider_id}
	</select>
	
</mapper>