<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Subscribe">
	
	<sql id="columns">
		subscribe_id, subscribe_date, cancel_date, user_id, seller_id
	</sql>
	
	<resultMap 			type="Subscribe" 			id="joinMap">
		<id 			column="subscribe_id" 		property="subscribe_id"/>
		<result 		column="subscribe_date" 	property="subscribe_date"/>
		<result 		column="cancel_date" 		property="cancel_date"/>
		
		<!-- 여기서 User는 구독자 A, Seller는 판매자 B로 다른 사람임 -->
		<association 	column="user_id" 		property="user" 	javaType="User" 	select="User.select"/>
		<association 	column="seller_id" 	property="seller" 	javaType="Seller" 	select="Seller.select"/>
	</resultMap>
	
	<select id="selectAll" resultMap="joinMap">
		SELECT <include refid="columns"/> FROM subscribe
	</select>
	
	<select id="selectByUserId" resultMap="joinMap" parameterType="int">
		SELECT <include refid="columns"/> FROM subscribe WHERE user_id=#{user_id}
	</select>
	
	<select id="selectBySellerId" resultMap="joinMap" parameterType="int">
		SELECT <include refid="columns"/> FROM subscribe WHERE seller_id=#{seller_id}
	</select>
	
	<select id="selectSubCount" resultType="int" parameterType="int">
		SELECT count(user_id) FROM subscribe WHERE seller_id=#{seller_id}
	</select>
	
</mapper>