<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TopCategory">

	<sql id="columns">
		topcategory_id, top_name
	</sql>
	
	<select id="select" parameterType="int" resultType="TopCategory">
		SELECT <include refid="columns"/> FROM topcategory WHERE topcategory_id = #{topcategory_id}
	</select>
	
	<select id="selectAll" resultType="TopCategory">
		SELECT <include refid="columns"/>
		FROM topcategory
	</select>
	
</mapper>