<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Wishlist">

	<insert id="insert" parameterType="Wishlist">
		insert into wishlist(user_id, list_name, description) values(#{user.user_id}, #{list_name}, #{description})
		
		<selectKey keyColumn="wishlist_id" keyProperty="wishlist_id" resultType="long" order="AFTER">
			select last_insert_id() as wishlist_id
		</selectKey>
	</insert>
	
	<sql id="columns">
		wishlist_id, user_id, list_name, create_date, description
	</sql>
	
	<resultMap 		type="Wishlist" 			id="joinMap">
		<id  				column="wishlist_id" 	property="wishlist_id"/>
		<result 			column="list_name" 		property="list_name"/>
		<result 			column="create_date" 	property="create_date"/>
		<result 			column="description" 	property="description"/>
		<association 		column="user_id"		property="user"			javaType="User"		select="User.select"/>
		<collection 		column="wishlist_id"	property="itemList" javaType="java.util.List" ofType="WishlistItem" select="WishlistItem.selectByWishlistId"></collection>
	</resultMap>
	
	<select id="selectAll" resultMap="joinMap">
		SELECT <include refid="columns"/> FROM wishlist
	</select>
	
	<select id="select" resultMap="joinMap" parameterType="long">
		SELECT <include refid="columns"/> FROM wishlist WHERE wishlist_id=#{wishlist_id}
	</select>
	
	<select id="selectByUserId" resultMap="joinMap" parameterType="long">
		SELECT <include refid="columns"/> FROM wishlist WHERE user_id=#{user_id} order by create_date desc
	</select>
	
</mapper>