@charset "UTF-8";

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none; /* 숨겨진 상태 */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 6px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn1 {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.cancel {
  border: 1px solid red;
  color: red;
  background: white;
}

#delete_modal_a {
	display: inline-block;
	text-decoration: none;
}
a#delete_modal_a span:hover {
  text-decoration: underline; /* 실제 밑줄은 텍스트만 */
  cursor: pointer;
}


.save {
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

#saveBtn:disabled{
	cursor: default;
	background: #aaa;
}